<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ivo.workoutbuilderai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseGoalsActivity"
            android:label="@string/title_activity_choose_goals"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EnterInformationActivity"
            android:label="@string/title_activity_enter_information" />
        <activity
            android:name=".WorkoutLogActivity"
            android:label="@string/title_activity_workout_log" />
        <activity
            android:name=".DailyLogActivity"
            android:label="@string/title_activity_daily_log" />
        <activity
            android:name=".SavedWorkoutsActivity"
            android:label="@string/title_activity_saved_workouts"></activity>
    </application>

</manifest>